In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('cereal.csv')
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [4]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [5]:
x=df[['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups']]

In [6]:
y=df['rating']

In [7]:
x_cat_cols=x.select_dtypes(include='object')
x_num_cols=x.select_dtypes(include='number')

In [8]:
x_cat_cols.head()

                        name mfr type
0                  100% Bran   N    C
1          100% Natural Bran   Q    C
2                   All-Bran   K    C
3  All-Bran with Extra Fiber   K    C
4             Almond Delight   R    C

In [9]:
x_cat_cols['name'].unique(
)

array(['100% Bran', '100% Natural Bran', 'All-Bran',
       'All-Bran with Extra Fiber', 'Almond Delight',
       'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex',
       'Bran Flakes', "Cap'n'Crunch", 'Cheerios', 'Cinnamon Toast Crunch',
       'Clusters', 'Cocoa Puffs', 'Corn Chex', 'Corn Flakes', 'Corn Pops',
       'Count Chocula', "Cracklin' Oat Bran", 'Cream of Wheat (Quick)',
       'Crispix', 'Crispy Wheat & Raisins', 'Double Chex', 'Froot Loops',
       'Frosted Flakes', 'Frosted Mini-Wheats',
       'Fruit & Fibre Dates; Walnuts; and Oats', 'Fruitful Bran',
       'Fruity Pebbles', 'Golden Crisp', 'Golden Grahams',
       'Grape Nuts Flakes', 'Grape-Nuts', 'Great Grains Pecan',
       'Honey Graham Ohs', 'Honey Nut Cheerios', 'Honey-comb',
       'Just Right Crunchy  Nuggets', 'Just Right Fruit & Nut', 'Kix',
       'Life', 'Lucky Charms', 'Maypo',
       'Muesli Raisins; Dates; & Almonds',
       'Muesli Raisins; Peaches; & Pecans', 'Mueslix Crispy Blend',
       'Multi-Grain Cheerios', 'Nut&Honey Crunch',
       'Nutri-Grain Almond-Raisin', 'Nutri-grain Wheat',
       'Oatmeal Raisin Crisp', 'Post Nat. Raisin Bran', 'Product 19',
       'Puffed Rice', 'Puffed Wheat', 'Quaker Oat Squares',
       'Quaker Oatmeal', 'Raisin Bran', 'Raisin Nut Bran',
       'Raisin Squares', 'Rice Chex', 'Rice Krispies', 'Shredded Wheat',
       "Shredded Wheat 'n'Bran", 'Shredded Wheat spoon size', 'Smacks',
       'Special K', 'Strawberry Fruit Wheats', 'Total Corn Flakes',
       'Total Raisin Bran', 'Total Whole Grain', 'Triples', 'Trix',
       'Wheat Chex', 'Wheaties', 'Wheaties Honey Gold'], dtype=object)

In [10]:
x_cat_cols=pd.get_dummies(x_cat_cols,dtype=int)
x_cat_cols.head()

,name_100% Bran,name_100% Natural Bran,name_All-Bran,name_All-Bran with Extra Fiber,name_Almond Delight,name_Apple Cinnamon Cheerios,name_Apple Jacks,name_Basic 4,name_Bran Chex,name_Bran Flakes,...,name_Wheaties Honey Gold,mfr_A,mfr_G,mfr_K,mfr_N,mfr_P,mfr_Q,mfr_R,type_C,type_H
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [11]:
x_num_cols.head()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
0,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33
1,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00
2,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33
3,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50
4,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75

In [12]:
x=pd.concat([x_cat_cols,x_num_cols],axis=1)

In [13]:
x.head(10)

,name_100% Bran,name_100% Natural Bran,name_All-Bran,name_All-Bran with Extra Fiber,name_Almond Delight,name_Apple Cinnamon Cheerios,name_Apple Jacks,name_Basic 4,name_Bran Chex,name_Bran Flakes,...,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
0,1,0,0,0,0,0,0,0,0,0,...,1,130,10.0,5.0,6,280,25,3,1.00,0.33
1,0,1,0,0,0,0,0,0,0,0,...,5,15,2.0,8.0,8,135,0,3,1.00,1.00
2,0,0,1,0,0,0,0,0,0,0,...,1,260,9.0,7.0,5,320,25,3,1.00,0.33
3,0,0,0,1,0,0,0,0,0,0,...,0,140,14.0,8.0,0,330,25,3,1.00,0.50
4,0,0,0,0,1,0,0,0,0,0,...,2,200,1.0,14.0,8,-1,25,3,1.00,0.75
5,0,0,0,0,0,1,0,0,0,0,...,2,180,1.5,10.5,10,70,25,1,1.00,0.75
6,0,0,0,0,0,0,1,0,0,0,...,0,125,1.0,11.0,14,30,25,2,1.00,1.00
7,0,0,0,0,0,0,0,1,0,0,...,2,210,2.0,18.0,8,100,25,3,1.33,0.75
8,0,0,0,0,0,0,0,0,1,0,...,1,200,4.0,15.0,6,125,25,1,1.00,0.67
9,0,0,0,0,0,0,0,0,0,1,...,0,210,5.0,13.0,5,190,25,3,1.00,0.67

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=8)

In [25]:
x_test.head()

,name_100% Bran,name_100% Natural Bran,name_All-Bran,name_All-Bran with Extra Fiber,name_Almond Delight,name_Apple Cinnamon Cheerios,name_Apple Jacks,name_Basic 4,name_Bran Chex,name_Bran Flakes,...,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups
40,0,0,0,0,0,0,0,0,0,0,...,1,260,0.0,21.0,3,40,25,2,1.0,1.50
36,0,0,0,0,0,0,0,0,0,0,...,1,250,1.5,11.5,10,90,25,1,1.0,0.75
72,0,0,0,0,0,0,0,0,0,0,...,1,250,0.0,21.0,3,60,25,3,1.0,0.75
3,0,0,0,1,0,0,0,0,0,0,...,0,140,14.0,8.0,0,330,25,3,1.0,0.50
46,0,0,0,0,0,0,0,0,0,0,...,2,150,3.0,17.0,13,160,25,3,1.5,0.67

In [26]:
model=LinearRegression()

In [27]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
test_predictions=model.predict(x_test)

In [32]:
train_predictions=model.predict(x_train)

In [31]:
print("Test Mean Squared Error: ",mean_squared_error(y_test,test_predictions))

Test Mean Squared Error:  0.11514632160699793

In [35]:
print("Train Mean Squared Error: ",mean_squared_error(y_train,train_predictions))

Train M1.0ean Squared Error:  7.558450003877619e-27

In [56]:
print("Test R2 Score: ",r2_score(y_test,test_predictions))

Test R2 Score:  0.9994748337906715

In [57]:
print("Train R2 Score: ",r2_score(y_train,train_predictions))

Train R2 Score:  1.0

__Ridge Model__

In [40]:
ridge_model=Ridge(alpha=0.1)
ridge_model.fit(x_train,y_train)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [41]:
rigde_test=ridge_model.predict(x_test)
rigde_train=ridge_model.predict(x_train)

In [42]:
print("Ridge Model MSE of Train: ",mean_squared_error(y_train,rigde_train))

Ridge Model MSE of Train:  0.00019459737070409328

In [43]:
print("Ridge Model MSE of Test: ",mean_squared_error(y_test,rigde_test))

Ridge Model MSE of Test:  0.13274271066249094

In [58]:
print("Ridge Model Train R^2 value: ",r2_score(y_train,rigde_train)*100)

Ridge Model Train R^2 value:  99.9998954707874

In [59]:
print("Ridge Model Test R^2 value: ",r2_score(y_test,rigde_test)*100)

Ridge Model Test R^2 value:  99.93945791302605

__Lasso Model__

In [52]:
Lasso_model=Lasso(alpha=0.01)
Lasso_model.fit(x_train,y_train)

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [53]:
Lasso_test=Lasso_model.predict(x_test)
Lasso_train=Lasso_model.predict(x_train)

In [54]:
print("Lasso Model MSE of Train: ",mean_squared_error(y_train,Lasso_train))

Lasso Model MSE of Train:  0.0005012917308190003

In [55]:
print("Lasso Model MSE of Test: ",mean_squared_error(y_test,Lasso_test))

Lasso Model MSE of Test:  0.001557535048851953

In [60]:
print("Lasso Model Train R^2 value: ",r2_score(y_train,Lasso_train)*100)

Lasso Model Train R^2 value:  99.99973072796554

In [61]:
print("Lasso Model Test R^2 value: ",r2_score(y_test,Lasso_test)*100)

Lasso Model Test R^2 value:  99.99928963012792

In [69]:
Lasso_test

array([45.31650643, 52.97145053, 68.37696051, 58.29896927, 21.89136791,
       33.11399115, 60.81187513, 40.40751791, 36.55907352, 50.60343241,
       38.89615969, 49.79260579, 19.89284402, 37.8363203 , 28.72765395,
       37.05020175])

In [45]:
y_test

41    45.328074
67    53.131324
0     68.402973
26    58.345141
35    21.871292
6     33.174094
54    60.756112
13    40.400208
38    36.523683
57    50.828392
69    38.839746
74    49.787445
12    19.823573
52    37.840594
37    28.742414
7     37.038562
Name: rating, dtype: float64